
/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fauna+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 /* VARIABLES */ 

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);

  --prime-color: #1b262c;
  --second-color: #0f4c75;
  --third-color: #3282b8;
  --quad-color: #bbe1fa;


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 300;
  --font-medium: 400;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {

  height: 100%;
  overflow-x: hidden;
  background: white;
  color: white;
  font-family: var(--body-font);
  position: relative;
}


.hero{

padding-top: 75px;
  background-color: #eeeeee;
  height: 100vh;
  width: 100%;
  display: flex;
}

.hero-text{
   
    padding-top: 100px;
    padding-inline: 50px;
    color: #262f37;
    font-size: 2.5rem;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text a{
    background-color: #DA0037;
    border-radius: 5px;
    padding-inline: 15px ;
    padding-block: 10px;
    margin-bottom: 50px;
    color: #eeeeee;
    text-decoration: none;
    
    
}

.hero-text-link{
    margin-top: 50px;

    display: flex;
    justify-content: right;
}

.hero-text-gras{
    font-weight: 600;
    font-size: 3.5rem;
}

.hero-title{
    padding-top: 250px;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
  
}

.Inpulse{
    font-size: 7rem;
  
    font-weight: 400;
    letter-spacing: 0.5rem;
   /* color: rgb(245, 209, 4);*/
   color: #DA0037;
    text-shadow: 2px 2px 4px #000000;
     font-family: "Roboto";
 
}

.Studio{
     font-size: 7rem;
      font-family: "Roboto";
     color: #444444;
        line-height: 40px;
        font-weight: 600;
        letter-spacing: 1.1rem;
       text-shadow: 2px 2px 4px #000000;
}



.logo{
    color:white;
    display: flex;
}

.I{
    margin-left: 30px;
    color: #DA0037;
    font-size: 3rem;
    font-weight: 600;
}

.S{
    color: #444444;
    font-size: 3rem;
    font-weight: 600;
}
#navbar{
    position:fixed ;
    width: 100%;
    background-color: #171717;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    font-size: 1.08rem;
    font-weight: 400;
    color: white;
    padding-right: 10px;
     font-family: "Roboto";
     text-decoration: none;
}

nav a:hover{
    color:#DA0037;
}

.contact{
    display: block;
    background-color: #DA0037;
    border-radius: 5px;
    padding-inline: 15px ;
    padding-block: 10px;
    margin-inline: 30px;

}

.services{
    padding-top: 75px;
  background-color: #171717;
  height: auto;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

.services_title{
    font-size: 3.5rem;
    font-weight: 500;
 padding-inline: 250px;
 text-align: center;
 font-family: "Roboto";
 margin-bottom: 50px;
 line-height: 50px;
 

}

.services_text{
  padding-inline: 250px;
  margin-bottom: 50px;
}

.services_cards{

    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 50px;
 
}

.card{
    padding-block: 30px;
    padding-inline: 30px;
    height: auto;
    width: 300px;
    background-color: #171717;
    margin: 12px;
  /*  border: solid 1px #444444;*/
     border: solid 1px #DA0037;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
    
}

.card:hover{
    background-color: #DA0037;
    border: solid 1px #ffffff;
    .card_logo{
        color: white;
    }
    .fa-solid{
    color: white;
}
}

.card_logo{
    color: #DA0037;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}

.card_logo img{
    height: 100%;
    width: 100%;
}

.card_title{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.card_text{
    margin-bottom: 15px;
}

ul {
 /* list-style-image: url('images/check.svg');*/
  list-style-type: none;
}

li{
    margin-bottom: 5px;
}


.fa-solid{
    margin-inline: 5px;
    color: #DA0037;
    transition: all 0.5s;
}

.pourquoi{
    width: 100%;
    height: 100vh;

    background-color: #eeeeee;
    color: #171717;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.pourquoi_title{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 6.5rem;
}

.pourquoi_text{
    margin-top: 50px;
     margin-right: 50px;
    font-size: 2rem;
}

.pourquoi_text h3{
   margin-block: 15px;
}
.pourquoi_text p{
 padding-left: 0.5rem;
}


.contactez{
    width: 100%;
    height: auto;
  
    background-color:#eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_form{
    width: 95%;
    height: 95%;
    background-color: blue;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #171717;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 75px;
}


/* form */

form{
    padding: 30px;
    height: 100%;
    width: 700px;
    margin-bottom: 150px;
    margin-top: 50px;
    background-color: #171717;
}
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #DA0037;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.container{
    width: 100%;
    height: 100%;

}