
/*=============== HEADER & NAV ===============*/

.nav__logo{
  width: auto;
  height: 120%;
 
}

.nav__logo img{
  height: 100%;
  width: auto;
  object-fit:cover;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#navbar {
  width: 100%;
}

@media screen and (min-width: 768px) {

.header.scrolled {
  background-color: rgba(255, 255, 255, 0.3); /* adjust opacity & color as needed */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); /* optional subtle shadow */
}
}

#navbar{
    position: fixed;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

#navbar.hide{
  transform: translateY(-100%);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--black-color);
  font-weight: var(--font-medium);
}

.nav__close, 
.nav__toggle {
  display: flex;
  color: var(--black-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    left: -100%;
    top: 0;
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    padding: 6rem 3.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left .4s;
  }

  .nav__item {
  /* transform: translateX(-150px);*/
    visibility: hidden;
    transition: transform .4s ease-out, visibility .4s;
  }

  .nav__item:nth-child(1) {
    transition-delay: .1s;
  }
  .nav__item:nth-child(2) {
    transition-delay: .2s;
  }
  .nav__item:nth-child(3) {
    transition-delay: .3s;
  }
  .nav__item:nth-child(4) {
    transition-delay: .4s;
  }
  .nav__item:nth-child(5) {
    transition-delay: .5s;
  }
}



.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  position: relative;
  color: var(--black-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  display: inline-flex;
  align-items: center;
  transition: opacity .4s;
}

@media screen and (min-width: 768px) {


#menu a.scrolled{
  
   color:rgb(255, 255, 255);
   text-shadow: rgb(0, 0, 0) 1px 0 10px;
}
}
/*
.nav__link i {
  font-size: 2rem;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s;
}
*/
.nav__link span {
  position: relative;
  transition: margin .4s;
}

.nav__link span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: var(--black-color);
  transition: width .4s ease-out;
}
@media screen and (min-width: 768px) {


.nav__link.scrolled span::after {
   background-color: white;
   box-shadow: rgb(0, 0, 0) 1px 0 10px;
}
}

/* Animation link on hover */
/*
.nav__link:hover span {
  margin-left: 2.5rem;
}*/
/*
.nav__link:hover i {
  opacity: 1;
  visibility: visible;
}
*/
.nav__link:hover span::after {
  width: 100%;
}

/* Sibling fade animation */
.nav__list:has(.nav__link:hover) .nav__link:not(:hover) {
  opacity: .4;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  left: 0;
}

/* Animation link when displaying menu */
.show-menu .nav__item {
  visibility: visible;
  transform: translateX(0);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (min-width: 768px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle, 
  .nav__close {
    display: none;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    font-size: 1.5rem;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3.5rem;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
  }
}